body {
  background-color: rgb(0, 39, 60);
}

/* Awal nav=================================================================*/

#Nav {
  position: absolute;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
}

#Nav a {
  color: white;
}

#Nav a:hover {
  color: #c0c0c0;
}

/* Akhir nav------------------------------------------------------------------*/

/* Awal header==============================================================*/
header {
  position: relative;
  z-index: 1;
  width: 100%;
  background-image: url(images/1.jpg);
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

header::after {
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgb(28, 28, 28), rgba(0, 0, 0, 0));
  position: absolute;
  left: 0;
  bottom: 0;
}
/* Tambahkan padding dan margin untuk mobile */
@media (max-width: 768px) {
  #MyFoto {
    margin-bottom: 20px;
  }

  #MyName {
    margin-bottom: 20px;
  }

  #AboutMe {
    padding: 20px;
  }
}

.NamaSaya {
  opacity: 0;
  transform: translate(-10px, 0px);
}

#Foto {
  position: relative;
  z-index: 1;
  width: 80%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transform: translate(-5px, 0px);
}
#MyFoto {
  position: relative;
  z-index: 1;
}
#MyName {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  color: #c0c0c0;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.rounded-circle {
  opacity: 0;
}

.copyright {
  position: absolute;
  z-index: 1;
  left: 1%;
  bottom: 1%;
  color: #c0c0c0;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.copyright a {
  text-decoration: none;
}

/* Akhir header---------------------------------------------------------------*/

/* Awal About me===============================================================*/
#AboutMe {
  position: relative;
  z-index: 1;
  width: 100%;
  /* background-color: rgb(0, 39, 60); */
  color: white;
}

#AboutMe::after {
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(
    to bottom,
    rgb(28, 28, 28),
    rgba(0, 0, 0, 0)
  ); */
  position: absolute;
  left: 0;
  bottom: 0;
}

.efek1 {
  opacity: 0;
  transform: translate(-15px, 0px);
}

/* Akhir About Me-------------------------------------------------------------*/

/* Awal Project================================================================*/
#MyProjects {
  position: relative;
  z-index: 3;
  width: 100%;
  padding-top: 50px;
  background-color: rgb(0, 39, 60);
  color: white;
}

#MyProjects::after {
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgb(28, 28, 28), rgba(0, 0, 0, 0));
  position: absolute;
  left: 0;
  bottom: 0;
}

#MyProjects .allcard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2px;
  justify-content: center;
}

.card {
  opacity: 0;
  margin: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transform: translate(-30px, 0px);
}

.card-text {
  text-align: justify;
  font-size: 12px;
}

.card:hover {
  box-shadow: 2px 2px 10px rgb(66, 66, 138);
  transition: 0.5s;
  transform: translate(0px, -5px);
}

.card a {
  text-decoration: none;
  color: black;
}

.efek2 {
  opacity: 0;
  transform: translate(-10px, 0px);
}

/* Akhir Project--------------------------------------------------------------*/

/* Awal Cerfificate---------------------------------------------------------- */

#MyCertificates {
  position: relative;
  z-index: 3;
  width: 100%;
  padding-top: 50px;
  background-color: rgb(0, 39, 60);
  color: white;
}

#MyCertificates::after {
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgb(28, 28, 28),
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  left: 0;
  bottom: 0;
}

#MyCertificates .allcertificate {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2px;
  justify-content: center;
}

#MyCertificates .allcertificate .card img {
  padding: 2px;
  height: 150px;
}

.efek3 {
  opacity: 0;
  transform: translate(-10px, 0px);
}

/* Akhir Certificate--------------------------------------------------------- */

/* Awal Contacts==============================================================*/

#MyContacts {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  color: white;
  background-color: rgb(0, 39, 60);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
}

#MyContacts::after {
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgb(28, 28, 28), rgba(0, 0, 0, 0));
  position: absolute;
  left: 0;
  bottom: 0;
}

#MyContacts .fa-whatsapp {
  color: #25d366;
}

#MyContacts .fa-linkedin {
  color: #007bb5;
}

#MyContacts .fa-instagram {
  color: #c32aa3;
}

#MyContacts a:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  transform: translate(0px, -5px);
}

.efek4 {
  opacity: 0;
  transform: translate(-10px, 0px);
}

/* Akhir Contacts-----------------------------------------------------------*/

/* Animation */

.muncul {
  opacity: 1;
  transform: translate(0px, 0px);
  transition-duration: 2s;
}

.Muncul {
  opacity: 1;
  transition-duration: 1s;
  transform: translate(0px, 0px);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none; /* Hapus gambar default */
  border: solid rgba(128, 128, 128, 0.5); /* Warna border dengan transparansi */
  border-width: 0 2px 2px 0; /* Ukuran border */
  display: inline-block;
  padding: 2px; /* Mengurangi padding */
  width: 20px; /* Atur lebar ikon */
  height: 20px; /* Atur tinggi ikon */
}

.carousel-control-prev-icon {
  transform: rotate(135deg); /* Memutar panah */
  -webkit-transform: rotate(135deg); /* Dukungan untuk browser lain */
}

.carousel-control-next-icon {
  transform: rotate(-45deg); /* Memutar panah */
  -webkit-transform: rotate(-45deg); /* Dukungan untuk browser lain */
}
